[2017-12-05 19:59] m-hintz-42 opened #9 "Type check not specific enough"
https://github.com/Accruent/zoomba/blob/9a4d34b93be316b82b2867652360fa4c0a2e9252/src/Zoomba/APILibrary.py#L234

In attempting to make a Type check here we are not properly comparing type, but instead the Type object.

We can see this issue using the following code:
[code]

[2017-12-08 17:23] #9 closed

[2018-03-15 16:10] aljcalandra opened #32 "Dictionary containing non-string objects may not always pass - Key By Key Validator"
For an actual and expected dictionary the following may happen:
{ "a" : [1] } - Actual
{ "a" : [1] } - Expected
This will break when it sends 1, 1 to the recursive call on line 286.

Changing the 1 to a string resolves this problem.

The primary issue is that instead of checking for equality we are checking if string, then checking for inequality.
After that we assume the inner object is a diction

[2019-08-20 18:09] Wolfe1 opened #53 "GUILibrary | Drag And Drop By JS Broken Functionality"
Error from Robot test
`JavascriptException: Message: javascript error: $ is not a function`

This keyword was implemented as a workaround for this issue:
https://github.com/seleniumhq/selenium-google-code-issue-archive/issues/3604

It has been some time since then so perhaps this method is no longer necessary and can be removed? If it indeed is not needed lets remove it otherwise fix the current i

[2019-08-20 18:19] Wolfe1 opened #54 "APILibrary | Broken Robot Tests (3)"
After adding the robot tests to the travis-ci build it was revealed that a few of the APILibrary Robot tests were not functioning as intended.

Validate Response Negative Tests - Broken
Validate Response List Negative Tests - Broken
Key By Key Validator Negative Tests

These tests are all producing the correct error messages. The issue is that the compare done by 'Run Keyword And Expect Error' is

[2019-08-20 18:33] Wolfe1 opened #55 "Add DesktopLibrary information to the readme"
Add information about the DesktopLibrary and how to run it into the readme.

[2019-08-21 20:24] #55 closed

[2019-09-05 15:19] #53 closed

[2019-09-05 17:13] #54 closed

[2019-09-05 18:21] Wolfe1 opened #62 "DesktopLibrary | Duplicate Screenshots on Failure"
When a keyword fails in the Desktop Library a screenshot is created. For some reason currently this is duplicated.
![image](https://user-images.githubusercontent.com/3010366/64368492-11d05280-cfe0-11e9-8b1b-8c2ecaa2dcfd.png)

[2019-09-09 19:01] Wolfe1 commented on #62
Still no real progress here. I have narrowed it down to DesktopLibrary keywords that call AppiumLibrary Keywords.

 

For example:

Wait For And Click Element
Is a DesktopLibrary keyword that calls a couple AppiumLibrary keywords
This keyword would trigger 2 screenshots on failure.
Click Element
Is an AppiumLibrary keyword
This triggers only one screenshot
Mouse Over Element
Is a DesktopLibrary ke

[2019-09-09 19:34] Wolfe1 commented on #62
- Attempting to override the run on failure keywords didn't really seem to do anything either.
- Overriding a keyword from AppiumLibrary (in this case with itself) seems to only generate one screenshot.
- **Running that same overridden keyword as a part of a sequence chain (wait for and click) still results in 2 screenshots**

[2019-10-15 16:13] Wolfe1 opened #68 "GUILibrary | Press Key Deprecation"
'Press Key' is deprecated, replace with 'Press Keys'

[2019-10-22 14:49] #68 closed

[2019-10-23 17:55] Wolfe1 opened #77 "Select Window Deprecation Changes"
With SeleniumLibrary deprecating 'Select Window':
https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Select%20Window

We need to use 'Switch Window' now:
https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Switch%20Window

- This will be a change for our 'Wait For And Select Window' keyword
- We will need to support the new functionality of switch window in our keyword
- U

[2019-10-23 17:58] Wolfe1 commented on #77
![image](https://user-images.githubusercontent.com/3010366/67420707-c32d4680-f594-11e9-9355-3d6fae3fda08.png)

[2019-10-24 15:58] Wolfe1 opened #79 "'Wait until Window Opens' does not contain a wait..."
![image](https://user-images.githubusercontent.com/3010366/67502473-853f2980-f64b-11e9-83a0-ce3f502e4bfb.png)
This keyword is supposed to check for the window title (up to the timeout) and report back that it is open.

Currently it only attempts this once and relies on other keywords to keep it in check. This is misleading and not how this keyword should function.

- Add an actual wait and control

[2019-10-24 18:23] #77 closed

[2019-10-29 15:44] Wolfe1 opened #84 "GUILibrary | Add timeout override to 'wait' keywords"
Many of the wait keywords we have set up are just using the global timeout.  This is fine but the user should be allowed a timeout override per keyword use if they want.

[2019-11-01 16:02] #84 closed

[2020-01-21 16:04] Wolfe1 opened #88 "GUILibrary | Add 'Save Selenium Screenshot'"
We need a way to create a more uniquely named screenshot. To do so we have implemented the following in Robot framework:
[code]
We need to implement this in the library so that we don't need to copy this code to every repository we use.

[2020-01-22 21:51] #88 closed

[2020-01-24 15:55] Wolfe1 opened #95 "Admin | Build out examples for new users"
We need to provide more information for users first landing on the repository. Right now we just rely on user knowledge, the docs, and the example tests. However for a library aimed at helping not only existing teams, but new teams get set up we need a more comprehensive guide to importing and using the libraries.

[2020-01-24 16:44] Wolfe1 opened #96 "DesktopLibrary | Better Error Messaging"
Improve error messaging and error handling in the Desktop Library. This is mainly focused around keywords that utilize ActionChains (such as the mouse keywords) but is needed in other keywords that needed modification and the private methods (perhaps).

[2020-02-12 21:54] Wolfe1 commented on #62
Extends to the Mobile Library as well so its definitely how AppiumLibrary is handling screenshots differently than how we do with seleniumLibrary.

[2020-05-15 14:59] #96 closed

[2020-05-18 12:27] MoniRaj1 opened #113 "No application open ( when control moves to a different file"
Hi,
We have a test script to  Open and launch the application( desktop app )
The next file is to perform subsequent checks on the opened application.
The first file executes successfully ( means application is opened ), but when the control is moved to the second script "no open application " is thrown.

How can I resolve this ?

My setup includes ( DesktopLibrary - Zoomba )

[2020-05-18 15:18] Wolfe1 commented on #113
@MoniRaj1 Mind posting a code example and saying exactly which line gives you that error?

[2020-05-18 15:36] Wolfe1 commented on #113
Also reading your message again, it seems you have two separate robot files that are running tests on the same open application? If your second script is expecting an app to be open already you will need to 'attach' to the open application by using [Switch Application by Name](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Switch%20Application%20By%20Name) or [Sw

[2020-05-19 05:51] MoniRaj1 commented on #113
Hi ,
Thank you for your response
Here's the code snippet

test.robot

*** Settings ***
 Suite Setup       Start App
 Suite Teardown    Close All Applications
 Test Setup        App Running
 Test Teardown     Quit Application
 Force Tags        Windows
 Library           ../../src/Zoomba/DesktopLibrary.py
 Library           ../method.py

*** Variables ***
 ${REMOTE_URL}  ${URLPath}
 ${APP}  ${Appli

[2020-05-19 06:05] MoniRaj1 commented on #113
@Wolfe1  , in response to your second comment .
I'm not using two robot files , I m using one robot and another python file.
I m trying to move control from robot file to python file and vice versa .
Kindly help me out
Thanks

[2020-05-19 15:38] Wolfe1 commented on #113
So the issue here is that you have two instances of DesktopLibrary, one in the robot file and one in the python file. You open the application with your robot file instance and then attempt to click on an element in your python instance (which has not opened an application and has no knowledge of the other instance).

The easiest solution I see is to remove the DesktopLibrary import from the robot

[2020-05-20 07:13] MoniRaj1 commented on #113
Hi @Wolfe1

Thank you very much for your support .
Your response is really helpful.

[2020-05-20 15:13] Wolfe1 commented on #113
@MoniRaj1 No problem. Going to go ahead and close but feel free to raise a new issue if you have any more.

[2020-05-20 15:13] #113 closed

[2020-06-08 11:30] david-au opened #118 "“Xpath Should Match X Times” keyword does not work when using DesktopLibrary"
Hi,

Since DesktopLibrary overrides the implementation of _element_find from AppiumLibrary and returns only a single WebElement, it does not work with the “Xpath Should Match X Times” keyword from AppiumLibrary which expects _element_find to return a collection so that it can apply the len() function on it.

[2020-06-08 14:06] Wolfe1 commented on #118
Hey @david-au ,

I will take a look at this, in the meantime if you downgrade to version 2.3.1 this functionality should work as intended for you until we have a fix.

pip install robotframework-zoomba==2.3.1

[2020-06-08 15:15] Wolfe1 commented on #118
@david-au well scratch that, still working on it but feel free to try out the pull request above

[2020-06-08 20:21] #118 closed

[2020-06-08 20:28] Wolfe1 commented on #118
@david-au try updating to latest and see if that works for you now. Let me know if you have issues.

pip install robotframework-zoomba --upgrade

[2020-06-09 03:49] david-au commented on #118
@Wolfe1 The fix works. Ty

[2020-06-11 19:04] #95 closed

[2020-06-12 19:48] Wolfe1 commented on #62
Finally found it, issue is caused here:
![image](https://user-images.githubusercontent.com/3010366/84540559-42ee5980-acbb-11ea-914a-8960c2c7da9c.png)
Since I am calling 'wait_until_page_contains_element' directly it is counting that keyword as a failure along with the main keyword (like 'wait_for_and_click_element').

This can be avoided through helper methods _wait_until_page_contains_element and

[2020-06-12 20:37] #62 closed

[2020-06-13 00:20] Wolfe1 opened #123 "Remove Deprecated 'Text' keywords from DesktopLibrary"
Remove the previously deprecated keywords in the DesktopLibrary.

[2020-08-03 15:49] Wolfe1 opened #127 "Desktop and Mobile | Helper file for common methods to clean up code"
Taking a look at https://bettercodehub.com/results/Accruent/robotframework-zoomba

The section 'Write Code Once' pointed out a few areas where desktop and mobile libraries have some duplicated code. This makes sense as they both extend from AppiumLibrary but we should still make these into helper methods to avoid this reuse.

[2020-08-31 15:57] Wolfe1 opened #132 "Desktop | Keywords for starting and stopping WinAppDriver"
This issue was brought to my attention via an email that it would be useful to be able to start and stopp the winappdriver session at will via some keywords. This would probably be done much like in [WADLibrary's Driver.py](https://github.com/Adwisit/WADLibrary/blob/master/WADLibrary/Driver.py).

Probably would default the winappdriver location to the default install.

[2020-09-02 19:44] #132 closed

[2020-09-02 19:59] #123 closed

[2020-09-10 16:49] #127 closed

[2020-10-05 11:10] MoniRaj1 opened #141 "Can zoomba library be used to automate cross platform desktop applications ( specifically for windows and mac )"
Hi ,

We have implemented Zoomba library to automate windows desktop application , is there a way we can extend this support to mac ?

[2020-10-06 13:45] Wolfe1 commented on #141
Hey @MoniRaj1,

[From the looks of it here](http://appium.io/docs/en/drivers/mac/), its possible but would use the [appium-mac-driver](https://github.com/appium/appium-mac-driver) and [appium-for-mac](https://github.com/appium/appium-for-mac) to do so. For the most part the actions of the library should work, however I anticipate that keywords like 'Open Application' will have issues.

I don't cur

[2020-10-13 13:28] mwencelewski opened #142 "Excel Application - Extract text from cells"
Currently I need to automate an excel spreadsheet that contain macros, therefore i need to automate using the excel application. But I am unable to extract the text from a cell, I can find the text in attribute ValuePattern.Value.

![image](https://user-images.githubusercontent.com/61157771/95866241-10726d00-0d3e-11eb-8503-89daa832bde4.png)
![image](https://user-images.githubusercontent.com/611577

[2020-10-15 11:12] MoniRaj1 commented on #141
Thanks alot for your response @Wolfe1

[2020-11-04 19:59] Wolfe1 opened #148 "Desktop | Select window_name via regex"
This has been asked for twice in the last few days:
https://forum.robotframework.org/t/zoomba-windows-desktop-regular-expression-on-window-name/908/2
https://forum.robotframework.org/t/how-to-read-accessibility-tool-inspected-elements-using-zoomba-library/903/2

Something like:

window_name = “wel*” [partial tile] instead of “welcome 10.3.2.4.2”

[2020-11-05 19:00] #148 closed

[2020-11-06 22:37] Wolfe1 opened #151 "Desktop Library | Look into adding screen recording feature from Appium"
https://github.com/appium/appium-windows-driver/pull/66

[2020-11-10 12:00] iot40-dp opened #153 "Touch support in Desktop Library"
Hi,

is there any plan to add touch support in Desktop Library?

Thanks

[2020-11-10 16:44] Wolfe1 commented on #153
Hey @iot40-dp,

We haven't really taken a look at it since no one had asked yet. Should be possible seeing as [WinAppDriver is showing these endpoints as available](https://github.com/microsoft/WinAppDriver/blob/master/Docs/SupportedAPIs.md):

![image](https://user-images.githubusercontent.com/3010366/98703466-21180200-2341-11eb-8f85-5aadc5612b48.png)

Trying to wrap my head around how these actio

[2020-11-11 07:50] iot40-dp commented on #153
Yes. I have some applications that run on a tablet on Windows in Kiosk mode. This means, there is no mouse and no keyboard available for the end user. Currently the automated tests use mouse and keyboard but since the enduser cannot it would make sense if the automated tests also does not use mouse and keyboard.

[2020-11-11 15:15] Wolfe1 commented on #153
Excellent point, will look into this soon.

[2020-11-25 20:43] Wolfe1 commented on #153
Alright @iot40-dp,

So I have added or enabled support for the following keywords:
- Tap
- Double Tap
- Flick
- Flick From Element
- Scroll
- Scroll From Element
- Drag and Drop by Touch
- Drag and Drop by Touch Offset
- Wait For And Tap
- Wait For And Double Tap
- Wait For And Flick From Element
- Wait For And Scroll From Element

'Long Press' (long click) seemed to already exist but just calling

[2020-11-25 21:07] hoangx commented on #153
Looks like https://www.codefactor.io/ is broken ?

[2020-11-25 21:08] Wolfe1 commented on #153
Yeah @hoangx, I noted it in the pull request but that site is down. Not anything broken on our end

[2020-11-25 21:09] #153 closed

[2020-11-25 21:14] Wolfe1 commented on #153
Well I spoke too soon, released: https://github.com/Accruent/robotframework-zoomba/releases/tag/2.7.0

[2020-11-26 07:33] iot40-dp commented on #153
WOW, that was fast. Thanks a lot. I will start using it soon and come back if there are any issues.

[2020-12-07 21:33] #151 closed

[2020-12-08 08:45] daylight24 opened #162 "How I can use function Double Click"
How I can use function Double Click?

[2020-12-08 08:48] #162 closed

[2020-12-09 16:08] #142 closed

[2020-12-19 08:48] wpeterw opened #165 "Zoomba.SOAPLibrary: Basic Authentication"
How do I use Basic Authentication with Zoomba.SOAPLibrary ?

[2020-12-21 06:31] arnabpandit opened #166 "dependency on psutil 5.7.3 failed installation - Microsoft Visual C++ 14.0 or greater is required."
could you pls update dependency to psutil 5.8.0? at least python 3.9 compatible wheels are available now.

[2020-12-21 16:38] Wolfe1 commented on #166
Should be merged and released soon, we have our updates automated but this one didn’t come in till this morning (guessing it released over the weekend).

[2020-12-21 16:44] Wolfe1 commented on #166
https://github.com/Accruent/robotframework-/releases/tag/2.7.3

Should hit pip in 10 minutes or so

[2020-12-21 17:03] #166 closed

[2021-01-04 09:53] daylight24 opened #168 "How to get value from element in window app for calculate?"
Hi. Please Kindly tell me how to get value from elemnet in window app to variable for calculate.

[2021-01-04 12:52] Wolfe1 commented on #168
Are you looking for something like this?

https://github.com/Accruent/robotframework-zoomba/issues/142

[2021-01-04 13:46] Wolfe1 commented on #165
Hey @wpeterw,

Sorry it took so long to get back to you. So I am not going to lie, I really don't know too much about SOAP and back when this was developed it seems they didn't leave any example tests to really work from. That said we do have a product that uses it, looking at some of their keywords maybe this is what you are looking for?

[code]

[2021-01-05 10:10] daylight24 commented on #168
@Wolfe1 Can't use Get Element Attribute because i get value from new develop desktop application and locator with  accessibility_id by automation_id(cashtotalamount). Please clarify how to locate and get value from this element locator.
Example:
 ${value}=     Zoomba.DesktopLibrary.Get Element Attribute           accessibility_id=cashtotalamount
 Log to console     ${value}
Now Result : none

[2021-01-05 12:35] Wolfe1 commented on #168
@daylight24 Get Element Attribute takes two parameters, a locator and the attribute you wish to get: https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Get%20Element%20Attribute

So for value it should be like that example I listed:
[code]

[2021-01-12 08:02] daylight24 commented on #168
@Wolfe1 I had try anyway to use this function "Get Element Attribute" I try with any attribute but log always return value "None". Please Clarify if you has solution for this case.

[2021-01-12 16:29] Wolfe1 commented on #168
@daylight24 here is an example you can try with the built-in windows 10 calculator:

[code]

In this test I type 'testing' into the text editor. This makes the value of the Text Editor equal to 'testing'

![image](https://user-images.githubusercontent.com/3010366/104342906-f40ed980-54c0-11eb-9eac-eb320c860c3a.png)

This can be seen using accessibility insights:
![image](https://user-images.githubu

[2021-01-18 17:08] robtail opened #170 "Switch Application Desktop slow"
Hi,

First of all this Zoomba library is amazing. thank you very much for this. :)

My task to test a windows Desktop application, and i stucked with two issues. (i will open a separate issue)

My issue is with slow running when starting Switch Application Desktop.

If our app started only with Open Application,
Login page opens and I was able to type username and pw. then click on login button. (

[2021-01-18 19:01] Wolfe1 commented on #170
Hey @robtail,

Glad you are finding the library useful. We had the exact same issue you had. We had a login form that we could log in and it would create a new app window that we couldn't interact with. The reason things are going so slowly is due to the way WinAppDriver finds elements. Essentially its one big XML tree that it has to look through, we limit this by selecting an application to lower

[2021-01-19 09:23] robtail commented on #170
Hi Wolfe1,

Thank you very much your instant and valuable response!
It was very interesting to me to understand the approach you describe. Thanks you very much !  :)

The only question is the sequence and the usage of Quit Application
So i will
1 Open Application
2 Switch Application	Desktop
3. Launch Application
4 Login to app with App Login
5. Quit Login
6 Switch Application By Name to Case Sear

[2021-01-19 11:04] robtail commented on #170
Update - Good News.

Hi Wolfe1,

Based on your advise i **got a great speed improvement**!!!

And the big outcome we **do not need use** Switch Application to Desktop!

So i did this
1 in Suit setup i Start app (Open Application, then Quit Application)  # But no Desktop!!
2 in Test Setup - Launch Application
4 in TC - Login to app with App Login
5. Sleep 7
6. Switch Application By Name to Case Sea

[2021-01-19 14:17] Wolfe1 commented on #170
Great to hear @robtail a few notes from what you have said:

1. The sleep is unfortunately the best way I can see as the other solution may end up taking longer than 7 seconds on average anyway. In any case if you wanted something that was dynamic you would have to:
    1. Switch to the desktop session
    2. Wait for your new window to appear with something like [Wait Until Page Contains Element]

[2021-01-19 15:00] robtail opened #171 "Two (subsequent) clicking needed for buttons and checkbox."
Hi,

Buttons and CheckBoxes needs to be clicking twice for working. (Manual tests needs to be pushed once)

1. First clicks seen in WAD commands and is visually seen on the application - seems to be pushed. but no action happens.
2. Second click also seen in WAD window and button seems to be pushed again, - and this time the action is doing.

The code in Robot Framework:
![image](https://user-imag

[2021-01-19 15:23] robtail commented on #170
Hi @Wolfe1

Thanks again for the advise you gave, but i found a the dynamic way :)

Im waiting for last element (login button) [disappear ](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Wait%20Until%20Element%20Does%20Not%20Contain) from the screen (with a long timeout because my app is slow as hell :)

![image](https://user-images.githubusercontent.com/77631362

[2021-01-19 15:24] Wolfe1 commented on #171
Hmmm this is quite odd, It could be related to the fact that when you manually test this you first mouse over the element.

Could you try using a 'mouse over' type keyword instead? Such as [Wait For And Mouse Over And Click Element](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Wait%20For%20And%20Mouse%20Over%20And%20Click%20Element) to see if that clicks withou

[2021-01-19 15:33] Wolfe1 commented on #170
Haha good to hear and thank you for using the tool!

[2021-01-19 15:33] #170 closed

[2021-01-19 16:05] robtail commented on #171
Hi @Wolfe1

Thanks for advise.

Unfortunately Wait For And Mouse Over And Click Element works very weird! depending on how to run the TC.

If i run the TC from RIDE it behaves like this
Sometimes
1 clicks on OK but nothing happens, or
2 Not clicking on OK button but hover over date time picker of the windows machine!
3 Seem clicking on outside of the app!  - on the right bottom corner of the scree

[2021-01-20 14:06] Wolfe1 commented on #171
We run some tests on virtual machines here as well however not in the way you are doing. If I am understanding correctly your setup is to have an app that is open in an RDP window but your test execution is being run on your local machine correct?

We open an RDP window that has our app running AND we run the test execution from that window as well. This is particularly helpful since while the tes

[2021-01-20 15:13] robtail commented on #171
Hi @Wolfe1,

Sorry for misleading information. We have the same general scenario.
We have access to VM, with RDP and run Robot Framework + Zoomba on the VM and we start the application on that machine.
The reason i describe all my circumstances was because i was in the middle of investigation.

But i made the final conclusion yesterday.
I realized our instability issues all related to full screen

[2021-01-20 15:18] Wolfe1 commented on #171
@robtail We run our tests in full screen without issue, what RDP do you use? I believe most just use the one built into windows.

[2021-01-21 13:00] robtail commented on #171
We use also standard RDP. It is somehow transfered from one to the another. i dont fully understand, how is it works: i RDP to one Domain\user and then its opens another login where i should login to my VM.  Sorry i cant provide clearer picture, because i dont fully understand....

[2021-01-21 13:45] Wolfe1 commented on #171
No problem, either way glad you are unblocked.

[2021-01-21 13:45] #171 closed

[2021-01-22 22:05] #141 closed

[2021-01-22 22:05] #165 closed

[2021-01-29 14:01] robtail opened #172 "Checkbox Status/Value - solution to add to wiki page"
Hi,

I figured out how to get Checkbox value/status, it takes a few hours, so i would like to share this with others :)

How to add it to Wikipage, or to [zoomba/DesktopLibraryDocumentation](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html) ?

Attribute to evaluate should be Toggle.ToggleState (and not Value.Value as in your example)

${CBV}=	Zoomba.DesktopLibrary.

[2021-01-29 15:25] Wolfe1 commented on #172
I can't seem to find this example you are talking about on the page, what keyword is it located in? Could you post a screenshot?

[2021-02-01 12:20] robtail commented on #172
Hi Wolfe,

I figured out  how to get Checkbox value/status.
This is an example checkbox:
![image](https://user-images.githubusercontent.com/77631362/106456898-7110eb80-648e-11eb-9567-05a22fbbea5d.png)

Example checkbox's Automation Id is    **chkMatching**

This it the way to know is it checked or not,
${CheckBoxValue}= Zoomba.DesktopLibrary.Get Element Attribute AutomationId_ofthechkbox Toggle.To

[2021-02-01 14:05] robtail opened #173 "Slow object interactions- lazy loading concept in Zoomba library"
Hi,

I would like to get some help to get faster test runs.
We a have a big (and slow) executable to test.
After logging in we have a lots of different options - windows and child windows (...and sub sub.. windows) and we had very slow test case running in some complex test cases. ( like over 20 minutes!)

_Evolution in test speed_:
Great speed improvements happened when we :
1. Stop using _Switch

[2021-02-01 18:26] Wolfe1 commented on #173
Hey @robtail,

I need a better idea of what actions are taking a long time as to if this would be of much benefit.

The two actions that probably take the longest time are the grabbing of the xml for the app and searching through it. Both of these are going to change pretty much anytime we go to make a new search so im not sure a lazy load would help here.

For reused elements this may work, provi

[2021-02-01 20:19] Wolfe1 commented on #172
Hey @robtail,

Makes sense but a couple things:
- [Get Element Attribute](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Get%20Element%20Attribute) is a keyword we extended from AppiumLibrary so the documentation that comes back is not set by us.
- I suspect that the example you have there is still going to be very specific to the product you are working on. So i

[2021-02-02 09:52] robtail commented on #172
Hi Wolfe,

Apologies, i was not, clear.

It is not a specific problem of my application it is general "problem" how to get Checkbox's value.

Any application's, (any) checkbox, Get Element Attribute  Value.Value **is null**.
That was the initial issue for me.  (I assume You probably haven't tried yet :)  )

Then i searched how to get checkbox value, and found the solution.

So i suggested to updat

[2021-02-02 10:55] robtail commented on #173
Hi Wolfe,

Thanks to quick response. i really appreciate you try to help!   👍
We really suffer from very slow run. I also assume we have big big XML for that application. we have lots of sub windows, (i assume this exe has hundreds of functions. )

Is there a way to how to get the XML from the app?
I mean can we have a debug or trace for winappdriver/Appium/Zoomba when it is grabbing of the XML?
o

[2021-02-03 20:11] Wolfe1 commented on #173
I believe the source its looking through is the response of [Log Source](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Log%20Source). As of now I do not think there is a way to filter down the scope.

I am not sure there is much your developers could in terms of limiting the scope. Adding IDs to the elements would help though as anytime you have to use xpath it

[2021-02-04 18:47] robtail commented on #173
Hi Wolfe,

Log Source - command has lots of potential.  Thank you very much for pay my attention to it.
I'm checking how to use it as xml...

As a general observation:
In my case during my app test, if i have a long execution time like 30s or 60s - Time consumed mostly by ROBOT FRAMEWORK.

I see winappdriver window waiting for commands from Robot Framework and when it gets a command it response in

[2021-02-05 08:18] keljaus opened #175 "Wait For And Click Element with Image locator seems to locate the correct place, but clicks are not done with LMB"
I installed openCV4NodeJS on top of Zoomba robot-framework library, so I could get the image locator into use.

However, even the image gets located, and "clicks" are done to the correct place of the application (close button), they seem to have no effect as they seem to not come from LMB, instead some kind of touch emulation?

Basically what happens, is that the test "clicks on air", never hittin

[2021-02-05 15:23] Wolfe1 commented on #175
Hey @keljaus,

So using the 'Click' type keywords should be using the mouse click to do the action, the touch actions would come through [Tap](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Tap) or [Wait for and Tap](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Wait%20For%20And%20Tap).

Anyway if you try a few things here mayb

[2021-02-05 16:20] keljaus commented on #175
Cases 1 & 2 did the same as I described above.

---------------------------------------------------------

The case 3, returned: "FileNotFoundError: [Errno 2] No such file or directory: 'locator.png;'" and failed

**Here is the test of case 3:**

[code]

---------------------------------------------------------

The case 4, returned: "WebDriverException: Message: An unknown server-side error occur

[2021-02-05 16:30] robtail commented on #173
Hi Wolfe,

Log source logs only the grid value's **names** but unfortunately not shows the grid values. :(
i hoped i can extract grid values somehow. (I would like to have something similar to Grid - like we have at Combo box.)

Other important question:
Is there a way to "continue" (or start a new) testcase the application current screen.
I mean i have a long business process, like one screen sav

[2021-02-05 16:42] keljaus commented on #175
Interesting was to notice that when I used the example calculator windows application instead of my custom WPF application, then the clicks were working correctly. However, I am not fully sure, if this because of the fact that the Calculator app supports the "tap inputs" I suspect the keyword is actually sending...or is there some problem with my WPF application's "close buttons".

My applications

[2021-02-05 16:59] Wolfe1 commented on #175
@keljaus

In test 3 it seems you have an extra **";"** at the end of your locator, could you remove that and run your test again?

And for test 4 could you give me the log output from Appium when the error occurs?

-----------------------------------------------------------------

Does image recognition work for any other elements if you try? As you said it may just be the close button...perhaps y

[2021-02-05 17:12] Wolfe1 commented on #173
Hey @robtail,

I will have to look into that slowdown locally once I have some time.

As for continuing a test, provided you know the state of your test that passed or failed you can continue. You would just need to change the way your tests are run.

1. No test teardown or setup. If you need to do test setup before the first tests runs you would need to use 'Suite Setup' and 'Suite teardown' to b

[2021-02-05 17:13] Wolfe1 commented on #168
Closing due to inactivity

[2021-02-05 17:13] #168 closed

[2021-02-05 17:20] keljaus commented on #175
@Wolfe1 The ";" at the end did not have any impact --> same error in case 3

The log output in case 4, is as such:

[code]

[2021-02-09 15:24] Wolfe1 opened #176 "Move Travis-Ci to GitHub Actions"
Changes to Travis-ci have cut off our ability to test. Emails to support have not been answered to get an OSS credit allotment so we need to transition to Github Actions.

[2021-02-10 17:26] robtail commented on #173
Hi Wolfe,

Thanks when you investigate slowdown issue.

And many thanks for the suggested method you described above how to continue failed cases.

In general it is very useful to be able to "continue" the application test - **_After it was failed_**.

I tried this approach and it works.  So i logged in opening some subwindows and do a process.
if it failed then i write a tc which switch to the ac

[2021-02-11 20:39] #176 closed

[2021-02-12 16:33] Wolfe1 commented on #173
Taking a look at this locally but I do not believe this is an issue with the python or robot code. When attaching to the desktop and running 'Get Source' I am waiting 23 seconds for a response from the **winappdriver**:
![image](https://user-images.githubusercontent.com/3010366/107791308-67eb0e80-6d19-11eb-9af1-6c5389b2f186.png)

This is sadly out of our control as WinAppDriver is still closed sou

[2021-02-12 21:25] Wolfe1 commented on #173
Regardless I am working on something that will cut down on some redundant loads for the 'Wait For And' type keywords at the moment. Probably won't be ready till mid next week, not sure if it will help your situation but it certainly shouldn't hurt.

[2021-02-16 20:14] Wolfe1 opened #179 "Desktop Library | Appium | Mouse support loss"
Not sure when this appeared but its seems that Appium (1.20.2 in my tests) is no longer functioning when it comes to mouse and pointer inputs:

![image](https://user-images.githubusercontent.com/3010366/108116465-3c418e80-7061-11eb-801a-64fc9ac10c2a.png)

[2021-02-17 20:46] Wolfe1 commented on #173
@robtail When you get a chance see if https://github.com/Accruent/robotframework-zoomba/pull/180 helps at all.

Again this is just mainly focuses on some redundant calls for the 'Wait For And ...' type keywords but there are some other changes that may help.

Otherwise to really help here I would need to see a copy of one of your log.html files. Preferably running a loglevel of 'TRACE', no need to

[2021-02-22 08:39] robtail commented on #173
Hi Wolfe,

Sorry for not responding yet. I was not noticed you did steps for resolution this issue.

Many many thanks for deal with my help request!!

I asked my pm what kind of reports can i send, and how, but of course i will provide all necessary reports/log (with removed sensitive data)

And thanks again for your support!

How can i pull and implement your development code to try out "Wait For

[2021-02-22 12:53] Wolfe1 commented on #173
@robtail It has been merged into master and released so you can just do:

pip install robotframework-zoomba --upgrade

to get the latest code.

[2021-02-22 20:45] Wolfe1 opened #181 "Desktop Library | Desktop session error in multi-file test execution"
Brought up here: https://forum.robotframework.org/t/unable-to-run-multiple-testsuite-using-zoomba-desktop-library/1348/3

Essentially if we have two test files just like this in a directory:

[code]

And we run the whole directory (so file1, then file 2) and the 2nd file attempts to run 'Switch Application' it is referencing the old desktop session:
![image](https://user-images.githubusercontent.c

[2021-02-23 13:17] robtail commented on #173
Great - Thanks.  :)
I try it now.

[2021-02-23 13:22] robtail commented on #173
I had an error in ADMINISTRATOR shell while :   pip install robotframework-zoomba --upgrade

![image](https://user-images.githubusercontent.com/77631362/108849521-81763b00-75e2-11eb-9dda-af53ea379ab5.png)

Any idea?

[2021-02-23 14:18] #181 closed

[2021-02-23 14:42] frankstriegel opened #183 ""Switch Application By Name" is very slow if exact_match=false is used"
Zoomba Version 2.8.0

If keyword "Switch Application By Name" is used in combination with exact_match=false it is much slower than using it with exact_match=true (by factor 2-4 if no other application is running but by factor 10-15 if some other applications are running).

You can test it by the follwing suite:

[code]

This results in the follwing log
![grafik](https://user-images.githubuserconte

[2021-02-23 15:27] simonmeggle commented on #183
I am facing similar issues (tested also with the newest version)...

[2021-02-23 16:07] robtail commented on #173
Hi Wolfe,

My test case was running fine with updated Zoomba 2.8.1 so that is good.
I see Wait For And ... commands seems running faster.
So thanks for the efforts!

Best Regards,
Robert

[2021-02-23 19:38] Wolfe1 commented on #183
When we know the exact name of the window we are able to do a find like so:
[code]
Which is pretty quick but when we attempt a  search for an approximate name we have to use xpath:
[code]
Xpath in WinAppDriver is slow and in this case effected by how many other programs your desktop has running. I attempted to test a few more xpath possibilities to see if what I was doing was ill-performant but I

[2021-03-03 19:57] Wolfe1 commented on #179
After some investigation I have logged an issue with Appium: https://github.com/appium/appium/issues/15159

[2021-03-03 20:36] Wolfe1 commented on #179
Seems this was logged on the python client side a few days ago here: https://github.com/appium/python-client/issues/592

There is a workaround to add `"forceMjsonwp": True` that will fix the issue fort now. Once Appium goes to version 2 this will break again. Hoping a better solution will exits then.

[2021-03-04 15:06] #179 closed

[2021-03-04 15:27] Wolfe1 commented on #175
@keljaus So during some investigation on another ticket I learned some things that may be pertinent to this issue.

First of all it seemed that in Appium starting at version 1.20.0 the mouse type keywords stopped working due to a change in the way the commands were being interpreted. I have just released a change that will revert this behavior back for now but apparently this workaround will not w

[2021-03-05 12:18] keljaus commented on #175
1. Appium version was Appium v1.20.2
2. Yeah, I can take a look on that later, but unfortunately this thingy was more like R&D case for me, so I am not sure will allocate time for it in near future.

[2021-03-11 13:21] robtail commented on #173
Hi Brandon,

You can close this issue because i was roll off from this project (since 1st of March), and im not able to provide any details from this exe in the future. (I was working on this in the last ~2 months.)

I would like to thank you for all help you provided, it was help a lot!!!
:)

Without your help i was not able to start desktop testing of that exe and i was not able to solve such ki

[2021-03-11 13:21] #173 closed

[2021-04-09 08:54] msrb1984 opened #192 "Webdriverexception: Failed to locator opened application window with appID"
Hello,

Greeting!!!

When i try to open a app, i'm getting "Webdriverexception: Failed to locator opened application window with appId" error and application is not getting launched.

I have the below start driver keyword in my suite setup,

Start Driver
       driver setup
       OPEN APPLICATION      ${REMOTE_URL}        platformName=Windows       deviceName=Windows      app=${APP}

REMOTE_URL =

[2021-04-09 12:01] Wolfe1 commented on #192
Hello @msrb1984 ,

A few pieces of information to help me look into this issue:

1. Could you give me a copy of your test code? The simplest version that causes an error right now.
2. In the sample code you give could you tell me what line this fails on with the full error message?
3. You said that it was working fine a couple months before, what version of Zoomba were you using at that time? Have

[2021-04-09 15:48] msrb1984 commented on #192
Thanks Brandon,

This is a client system and I can't take any data out from the system.
Maximum i can do is take screenshot and provide it.

On Fri, Apr 9, 2021 at 5:31 PM Brandon Wolfe ***@***.***>
wrote:

--
Regards,
Ramesh babu

[2021-04-13 17:48] Wolfe1 commented on #192
@msrb1984  Understandable, any of the other requests you can answer there? I need more information in order to investigate this.

[2021-04-14 08:15] msrb1984 commented on #192
@Wolfe1: Failure is on step "OPEN APPLICATION ${REMOTE_URL} platformName=Windows deviceName=Windows app=${APP}"
and I have 2.7.8 version before and now upgraded to latest 2.8.5. I have tested against both versions. It is throwing me the same error. I'm also suspecting that our application might be causing the problem. I have asked dev team to look into it.

[2021-04-15 11:01] antrv opened #194 "Update robotframework-requests version"
Please update the version of robotframework-requests to the latest (0.8.2 at the moment)

[2021-04-15 12:12] Wolfe1 commented on #194
Hey, @antrv

So 0.8.0 brought in a pretty breaking change that was going to require quite a bit of rework. These changes would then be temporary as in 0.9 we would be moving again to session less keywords. Once 0.9 hit a beta or stable version was when I planned to jump on this

Any particular reason you want/need this moved to latest robotframework-requests?

[2021-04-15 13:21] antrv commented on #194
Hi @Wolfe1,

Thanks, that's ok. I'll rewrite my code with `robotframework-requests` 0.7.
I just use `robotframework-requests` 0.8 in the tests from the start. Now I switch to zoomba for testing WPF app (previously it was the buggy whitelibrary).

[2021-04-15 13:35] Wolfe1 commented on #194
@antrv If you are just using the DesktopLibrary portion of Zoomba I believe you could:

- clone the repo
- Set the requests version you want in requirements.txt
- build with 'pip install .'

Only the APILIbrary portion uses requests to my knowledge

[2021-04-15 14:55] Wolfe1 commented on #192
@msrb1984 If launching the app is an issue you could try launching the application some other way and then just attaching to the running process with [Switch Application by Name](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Switch%20Application%20By%20Name)

[2021-04-16 07:44] msrb1984 commented on #192
@Wolfe1 : Thank you. Will try to use AutoIT module to launch and use zoomba to continue. Is it possible to swtich by attributes like "ClassName"?

[2021-04-16 20:31] Wolfe1 commented on #192
@msrb1984 Currently there is not but it could be looked into in the future if that is a need.

[2021-04-19 14:16] Wolfe1 commented on #194
@antrv Looks like requests 0.9 just released so this may happen sooner than I anticipated. Probably in the next few weeks depending on level of effort to switch things over.

[2021-05-12 14:57] Wolfe1 commented on #194
Fixed in https://github.com/Accruent/robotframework-zoomba/releases/tag/2.9.0

[2021-05-12 14:57] #194 closed

[2021-05-19 19:56] Wolfe1 commented on #192
@msrb1984 See https://github.com/Accruent/robotframework-zoomba/pull/201 for a new keyword to try.

[Switch Application By Locator](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Switch%20Application%20By%20Locator)

[2021-05-19 19:56] #192 closed

[2021-05-19 19:59] Wolfe1 commented on #183
@frankstriegel @simonmeggle

See https://github.com/Accruent/robotframework-zoomba/pull/201 for a new keyword to try. This won't make the partial name search or xpath any faster but perhaps there is an id or class you could use that would be much faster.

[Switch Application By Locator](https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html#Switch%20Application%20By%20Lo

[2021-05-19 20:36] simonmeggle commented on #183
Thanks Brandon! 👍

[2021-05-27 20:11] Bhavnasewani opened #203 "Using Zoomba for webview2 component"
Hi Team,

I have an application that is developed using Webview2 .net component. Basically, we have a desktop container for our Angular based app. This is run using the microsoft edge (chromium).
I tried using Zoomba library for writing to a text field but the test case would fail giving an exception
No such elementException.

Any help on this would be appreciated

I have written very basic test c

[2021-05-27 20:18] Bhavnasewani commented on #203
For more information on webview2 feature and automation testing
Please check the link below:

https://docs.microsoft.com/en-us/microsoft-edge/webview2/how-to/webdriver

[2021-05-27 21:11] Wolfe1 commented on #203
This will need some investigation but im not sure how soon I could look at this. In the meantime though

More than likely this would be controlled by attaching a selenium session (GUILibrary) to the app to control the web view. Something like this example but using GUILibrary instead of SeleniumLibrary: https://stackoverflow.com/questions/31661189/robot-framework-reuse-existing-browser-window-betw

[2021-05-27 21:36] Bhavnasewani commented on #203
That's true if I test only the web app directly would solve my issue. But I am interested in testing the final product a user would get after developing an app using webview2 and which is an exe.

The link (for webview2) I shared has some sample exe and python code for running automation on it but I want it to be done using Robot Framework

Any directions would be of great help!

[2021-06-16 19:40] Wolfe1 commented on #203
Hey @Bhavnasewani  just letting you know I have the sample app loaded and will be doing some testing on this now, will let you know what I find.

[2021-06-21 17:56] Wolfe1 commented on #203
Ok @Bhavnasewani I think I have a solution for you to try.

Here is the branch I am using right now: https://github.com/Accruent/robotframework-zoomba/tree/WebView2

If you clone that locally and then run:
`pip install .`
From the main directory you can install it.

I have a demo script using the sample application provided by microsoft located in [~/samples/WebView-DesktopTest.robot](https://gith

[2021-06-22 14:27] #203 closed

[2021-06-22 14:58] #172 closed

[2021-06-22 14:58] #175 closed

[2021-06-22 14:58] #183 closed

[2021-06-24 23:22] amcanirn opened #211 "Desktop Library | Clicking Webelement errors with object has no attribute 'startswith'"
Using the 'Get Webelement' example from the Desktop Library documentation results in an error.

AttributeError: 'WebElement' object has no attribute 'startswith'

robotframework-zoomba version: 2.11.0

[code]

![image](https://user-images.githubusercontent.com/51360049/123343978-c5565e00-d54a-11eb-9630-5bb80c14faa3.png)

[2021-06-25 13:35] Wolfe1 commented on #211
Adding some unit tests around it but it should be fixed in that linked pull request. Should have this merged after I have a member of my team review this morning.

[2021-06-25 15:01] #211 closed

[2021-06-25 15:04] Wolfe1 commented on #211
@amcanirn Released in 2.11.1: https://github.com/Accruent/robotframework-zoomba/releases/tag/2.11.1

Update should be available via pip in a few minutes. Let me know if this addresses your issue fully.

[2021-06-25 15:45] amcanirn commented on #211
Yes this looks to have fixed the issue for me. Thank you for sorting that so quickly!

[2021-06-28 03:36] AmitKulkarni9 opened #213 "Zoomba.APILibrary: Passing/Setting header values from another TestCase or Keyword"
Hi

I have a usecase where I need to grab the auth token from webUI and then Pass it on to API test-cases as header.

I have implemented and get the auth-token from Keyword (Get AuthToken). But in Zoomba.APILibrary we set the headers in Variables section as

*** Variables ***
${endpoint}=  "some url"
&{headers_dictionary}=  Authorization=Bearer ${token}  Content-Type=application/json      charset=

[2021-06-28 12:50] Wolfe1 commented on #213
Hey so I think what you have here is a misunderstanding of how RobotFramework handles the Variables section at runtime. When the test cases is loaded it is going to attempt to verify ${token} which at that point is not set yet.

So a couple of options would look like:

1. You could simply make your headers dictionary after you get your token:
[code]

2. Create a helper keyword to create the header

[2021-06-29 02:07] AmitKulkarni9 commented on #213
Hi Brandon,

Thanks for this. Was not knowing Create Dictionary can be used in Zoomba package.
Yeah, with this gives better flexibility to create headers.
Closing the issue :)

Cheers,
Amit

[2021-06-29 02:07] #213 closed

[2021-06-29 02:08] AmitKulkarni9 commented on #213
Hi Brandon,

Thanks for this. Was not knowing Create Dictionary can be used in Zoomba package.
Yeah, with this gives better flexibility to create headers.
Closing the issue :)

Cheers,
Amit

[2021-07-01 16:57] deepaleekhare31 opened #214 "How to pass download directory path ?"
How to pass download directory with options?

I tried the below code: But it did not work
${options}=   Get Edge Options
${options.use_chromium}=    Set Variable   True
${options.add_experimental_option["download.default_directory"]}    Set Variable   C:\\Downloads
Open Browser   http://www.google.com    browser=Edge     options=${options}

Could you please help ?

[2021-07-01 17:02] deepaleekhare31 commented on #214
@Wolfe1 Could you please help?

[2021-07-01 17:33] Wolfe1 commented on #214
@deepaleekhare31 Not really sure but a quick google search found me this: https://stackoverflow.com/questions/62817645/need-to-set-the-download-directory-chromium-edge-browser-using-selenium

From the sample code it seems they are using AddUserProfilePreference for Edge. The sample is in C# but that should give you an idea on things to try.

[2021-07-02 04:31] deepaleekhare31 commented on #214
Hello,
with python this works:
options.add_experimental_option("prefs", {"download.default_directory": "C:\\Downloads"})

But how to use the same in robot scripts?

[2021-07-02 04:58] deepaleekhare31 commented on #214
Heyyy i got a solution:

    ${options}=   Get Edge Options
    ${prefs} =    Create Dictionary    download.default_directory=C:\\Downloads
    **Call Method    ${options}    add_experimental_option    prefs    ${prefs}**
    Call Method    ${options}    add_argument    --headless
    Open Browser   http://example.com    browser=Edge     options=${options}

[2021-07-02 12:29] Wolfe1 commented on #214
Excellent! Closing this issue out then.

[2021-07-02 12:29] #214 closed

[2021-09-22 20:18] mcsmagngo opened #228 "Zoomba delay"
Zoomba has a big delay to process a act. I can't fix this problem. Can you help me?
I use locator to click on button or check if the button is enabled. But, these process it takes too long.

[2021-09-23 14:01] Wolfe1 commented on #228
I am going to need some additional information to proceed:

1. What part of Zoomba are you using? GUI or Desktop?
2. Can your provide a copy of your log.html file created by robotframework?

[2021-09-23 20:50] mcsmagngo commented on #228
1. I am using Desktop
2. The loge is here. Thank you!
[log html.pdf](https://github.com/Accruent/robotframework-zoomba/files/7220761/log.html.pdf)

[2021-09-23 20:58] Wolfe1 commented on #228
Im not sure what happened to that log file but I cannot view it, even with removing the .pdf extension.

[2021-09-23 22:04] mcsmagngo commented on #228
Sorry. I send to you right now. Thank for the patience.
[log.zip](https://github.com/Accruent/robotframework-zoomba/files/7221016/log.zip)

[2021-09-24 15:08] Wolfe1 commented on #228
Alright so I think your issue here is the use of xpath. I go over it a bit in #183 :

"Xpath in WinAppDriver is slow and in this case effected by how many other programs your desktop has running. I attempted to test a few more xpath possibilities to see if what I was doing was ill-performant but I couldn't get a noticeable difference in execution speed.

This all ends up on the [WInAppDriver](http

[2021-09-24 16:03] mcsmagngo commented on #228
Thank you! I will test and i come back with results! Thank you again!

[2021-10-12 18:50] 7ranadheer opened #230 "Using Python functions with Zoomba library in page objects"
Hi  @Wolfe1,

We have our automated tests using zoomba for GUI and Android.

We felt occasionally to write certain functions in Python instead of robotframework. The problem we see is that we do not know how to extend it using robotframework-zoomba.

For e.g., we can write the following and then call the keyword where required, but the issue would be that this does not know the current browser tha

[2021-11-25 12:38] UliSei opened #234 "Zoomba.APILibrary - is there a way to ignore warnings as in requests library?"
Running my RF scripts  with docker on internal servers I get lots of warnings:
`/usr/local/lib/python3.8/dist-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'proxy'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings`

In requests library, keyword **Crea

[2021-11-25 13:18] Wolfe1 commented on #234
I think what you are looking for is [Supress Insecure Request Warnings](https://accruent.github.io/robotframework-zoomba/APILibraryDocumentation.html#Suppress%20Insecure%20Request%20Warnings).

[2021-11-25 15:25] UliSei commented on #234
Fantastic!
That's exactly what I was looking for.
Implemented it before the  **Call Post Request**  and it works fine.
Thank you!

[2021-11-25 15:26] #234 closed

[2021-12-02 14:30] GitLloyd opened #235 "Wait Until Element Is Enabled/Disabled doesn't wait until element is enabled/disabled"
Hi everyone,
I was trying to automate a windows app where button1 is visible from the start, but disabled. Button2, when pushed, starts an operation at the end of which button1 becomes enabled and thus clickable. The keyword `Wait Until Element Is Enabled` looked perfect for the job, but it kept failing. Looking at the [Python code behind the library](https://github.com/Accruent/robotframework-zoo

[2021-12-03 21:50] Wolfe1 commented on #235
Hey @GitLloyd

Could you give the attached branch a try? The test in Github actions seems to be failing because of an old dependency. I will take a look at that next week but for now, you can test that branch out to see if it functions as you expect.

Thanks.

[2021-12-06 16:46] #235 closed

[2021-12-06 16:48] Wolfe1 commented on #235
@GitLloyd Went ahead and pushed out the changes now, should be available via pip in the next 10 minutes or so. Let me know if that addresses your concern or if there is more work needed here.

Thanks!

[2021-12-19 22:43] qazaqstan2025 opened #241 "[Security] Workflow release-drafter.yml is using vulnerable action release-drafter/release-drafter"
The workflow release-drafter.yml is referencing action release-drafter/release-drafter using references v5.6.1. However this reference is missing the commit [70eb821099dbcd875c2cba75dad4332d3cf5544d](https://github.com/release-drafter/release-drafter/commits/70eb821099dbcd875c2cba75dad4332d3cf5544d) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions v

[2021-12-20 11:16] mengelskirchen opened #244 "Open_Application does not always start app with webdriver"
# Issue
DesktopLibrary#open_application does not start the app with webdriver#remote when the attribute window_name is given.

The result is that the application may be started with an other user than webdriver is running with and as it with other user rights than intended.

https://github.com/Accruent/robotframework-zoomba/blob/69012ddaff5803cbf3d054b07dd6b57ed2f7923f/src/Zoomba/DesktopLibrary.py

[2021-12-20 13:15] Wolfe1 commented on #244
While I agree that what you have here is cleaner I believe there was a reason I went with subprocess before. I think it had to do with Webdriver.Remote failing after the splash screen disappears.

I will take a look on my end though with some internal tests with splash screens sometime this week.

Thanks!

[2022-01-03 17:56] #244 closed

[2022-01-18 22:46] Mavnus04 opened #249 "Remote_URL not working from Desktop Library Documentation"
While trying to get the Desktop Library up and running, I ran into an issue with example `remote_url` in https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html
Most `remote_url` example is given as `http://localhost:4723/wd/hub`, but that didn't work for me.  I had to use 'http://localhost:4723`.

TestZoomba.robot that worked for me:

    *** Settings ***
    Library

[2022-01-19 20:12] Wolfe1 commented on #249
- Originally this was set up to use Winappdriver through Appium which would indeed use the remote_url of
  - Example here: https://github.com/Accruent/robotframework-zoomba/blob/master/samples/Appium-DesktopTests.robot
- Later on, we added the ability to run with the WinAppDriver stand alone
   -  Example here: https://github.com/Accruent/robotframework-zoomba/blob/master/samples/WinAppDriver-Desk

[2022-01-19 22:38] Mavnus04 commented on #249
Ahh, alright.  Thank you for the clarification.

[2022-02-10 20:16] Wolfe1 opened #254 "[🐛 Bug]: Test issue"
### What happened?

testing 123

### Relevant log output

[code]

### Operating System

Window 10

### RobotFramework-Zoomba version (tag)

2.13.1

[2022-02-10 20:17] Wolfe1 opened #255 "[🚀 Feature]: Test"
### Feature and motivation

### Usage example

Just do it

[2022-02-10 23:34] #254 closed

[2022-02-10 23:34] #255 closed

[2022-03-29 11:59] jsperafico opened #269 "[🐛 Bug]: Unable to Drag And Drop on DesktopLibrary"
### What happened?

Hey everyone,
First of all congratulations for your work so far! It's quite an accomplishment!

If anyone would be kind enough to investigate why I'm unable to drag and drop an ui component within the same window.
Currently we have a **WPF** application that renders a node graph. Manually we can drag and drop the nodes around.
![drag-feature](https://user-images.githubuserconte

[2022-03-29 12:12] jsperafico opened #270 "[🚀 Feature]: WPF-based app Scrollable content"
### Feature and motivation

Hey everyone,
First of all congratulations for your work so far! It's quite an accomplishment!

As per your documentation, the it should be possible to scroll through a content on the screen.
Unfortunately while attempting to do that, I noticed in order to perform such action the "touch" functionality is being used.
To my frustration, I discovered that our WPF app doesn

[2022-03-30 18:31] Wolfe1 commented on #269
Hey @jsperafico,

I am wondering if we may just have an issue with the locators. Could you use https://accessibilityinsights.io/ and post what the properties for one of those squares looks like?

![image](https://user-images.githubusercontent.com/3010366/160906009-3f9938dd-4c9d-43ff-97ee-8dd014e5ef24.png)

I am just wondering if there is an easier path here than xpath. Otherwise what are you using

[2022-03-30 18:35] Wolfe1 commented on #270
I will have to take a look at this when I get time. I believe the reason we went with the touch scroll was due to that being the [API that was supported by WinAppDriver](https://github.com/microsoft/WinAppDriver/blob/master/Docs/SupportedAPIs.md).

Has been awhile though so perhaps there is something that can be done here.

[2022-03-31 05:13] jsperafico commented on #269
Hey @Wolfe1,
Hopefully this can help...

WinAppDriver UI Recorder:
[code]
Windows Inspect Tool:
![Inspect](https://user-images.githubusercontent.com/1319458/160981032-b26d216d-26da-4b32-9a2e-c731f99599f2.png)

Accessibility Tool:
![Accessibility_Highlights](https://user-images.githubusercontent.com/1319458/160981039-e3feea79-3f60-46ed-9412-334a6d5458bd.png)

I have tried to click on both elements

[2022-03-31 14:32] Wolfe1 commented on #269
"I have tried to click on both elements and works fine. Just the Drag & Drop isn't.
Anything else that I can provide you with?"

Ah understood, in that case, I guess now I just need some kind of a demo application where I can replicate this issue. I am assuming that since you redacted the window name that this is an internal application?

Also provided your blocks all have unique names I assume yo

[2022-04-11 19:35] Wolfe1 commented on #269
Any update @jsperafico ?

[2022-04-12 14:25] jsperafico commented on #269
Hey @Wolfe1,
Unfortunately:
- our dev team won't be able to create a simple app that represents this test case.
- also the team decided to stay with my work-around when it comes to scrollable content (by click on the down arrow every now and then).
Sorry not being able to help you more to keep improving this library.
I will make sure whenever I have time, I will circle back to those topics and if

[2022-04-25 22:38] Wolfe1 commented on #249
Fixed by #273

[2022-04-25 22:38] #249 closed

[2022-06-17 12:39] Wolfe1 commented on #270
Code moved to https://github.com/Accruent/robotframework-applicationlibrary so losing this issue.

[2022-06-17 12:39] #270 closed

[2022-06-17 12:39] Wolfe1 commented on #269
Code moved to https://github.com/Accruent/robotframework-applicationlibrary so losing this issue.

[2022-06-17 12:39] #269 closed

[2022-06-24 14:12] OPISGIT opened #287 "[🚀 Feature]: keywords documentation"
### Feature and motivation

I used this zoomba library before, there was a page describes supported keywords. However the page is gone.
Where can I learn them now?

https://accruent.github.io/robotframework-zoomba/DesktopLibraryDocumentation.html

### Usage example

Need documentation

[2022-06-24 14:25] #287 closed